# Azure SQL Database との連携

##使用するデータのアップロード

ローカル環境にある diabetes.csv を左の Data タブよりアップロードします。登録された Table の名前は diabetes_csv の前提で下記コードを進めます。

In [4]:
df = spark.table("diabetes_csv")

In [5]:
#display(df)

## JDBC接続情報の設定

In [7]:
jdbcHostname = ""
jdbcDatabase = ""
jdbcPort = 1433
username =""
password = ""
jdbcUrl = "jdbc:sqlserver://{0}:{1};database={2};user={3};password={4}".format(jdbcHostname, jdbcPort, jdbcDatabase, username, password)
print(jdbcUrl)

In [8]:
# jdbcUrl = "jdbc:sqlserver://{0}:{1};database={2}".format(jdbcHostname, jdbcPort, jdbcDatabase)
# connectionProperties = {
#   "user" : jdbcUsername,
#   "password" : jdbcPassword,
#   "driver" : "com.microsoft.sqlserver.jdbc.SQLServerDriver"
# }

## データ加工 (列追加)

In [10]:
df = df.withColumn("age/100", df.AGE/100)

In [11]:
#display(df)

## データの書き込み

In [13]:
# mode : "append", "overwrite", "ignore", "error"
df.write.jdbc(table="dbo.diabetes_out", url=jdbcUrl, mode= "overwrite")

## データの取得

In [15]:
df2 = spark.read.jdbc(url=jdbcUrl, table="diabetes_out", lowerBound=0, upperBound=100000, numPartitions=100)

In [16]:
#display(df2)